*~
/~
/*.pdf
/*/*~
/*/*.log
/*/*.aux
/*/*.out
/*/*.bak
/*/*.pdf
/*/*.pdf_t
/*/*/*~
/*/*/*.log
/*/*/*.aux
/*/*/*.out
/*/*/*.bak
/*/*/*.pdf
/*/*/*.pdf_t
/*/*/*/*~
/*/*/*/*.log
/*/*/*/*.aux
/*/*/*/*.out
/*/*/*/*.bak
/*/*/*/*.pdf
/*/*/*/*.pdf_t
/mcc045/ethics/adseula