*~
/~
/*.pdf
/*/*~
/*/*.log
/*/*.aux
/*/*.out
/*/*.bak
/*/*.pdf
/*/*.pdf_t
/*/*/*~
/*/*/*.log
/*/*/*.aux
/*/*/*.out
/*/*/*.bak
/*/*/*.pdf
/*/*/*.pdf_t
/*/*/*/*~
/*/*/*/*.log
/*/*/*/*.aux
/*/*/*/*.out
/*/*/*/*.bak
/*/*/*/*.pdf
/*/*/*/*.pdf_t
/*/*/build
/*/*/*.c
/*/*/*.cpython-36m-x86_64-linux-gnu.so
/*/*/*.html
/*/*/*.tar.gz
/mcc045/ethics/adseula